<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <div class="col-md-12">
        <div class="alert alert-success"
             role="alert" 
             *ngIf="messageSuccess">
                {{messageSuccess}}   
            </div>

        <div class="alert alert-danger"
             role="alert" 
             *ngIf="messageError">
                {{messageError}}
            </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" 
            routerLink="/client/forms">
                <i class="fa fa-plus"></i>
                Novo
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <table class="table  overflow table-condensed">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Nome:</th>
                        <th class="text-center">CPF:</th>
                        <th class="text-center">Data Cadastro:</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td class="text-center">{{client.id}}</td>
                        <td class="text-center">{{client.name}}</td>
                        <td class="text-center">{{client.cpf}}</td>
                        <td class="text-center">{{client.dateRegister}}</td>
                        <td class="text-center row col-sm-12">
                           <div class="col-md-12 ">
                            <button  class="btn btn-primary  mr-1" routerLink="../client-forms/{{client.id}}">
                                <i class="fa fa-edit text-white"></i>
                            </button>
                            <button class=" btn btn-danger " 
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalDelet"
                                    (click)="preparesDeletion(client)">
                                <i class="fa fa-trash text-white"></i>
                            </button>
                           </div>
                        </td>
                    </tr>
                </tbody>
                
            </table>
        </div>
        <div id="modalDelet" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="clientSelection">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Confirmação</h4>
                    </div>
                    <div class="modal-body">
                        Realmente deseja o Cliente {{clientSelection.name}}?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" (click)="deleteClient()" data-bs-dismiss="modal">Confirmar</button>
                        <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>