<div class="container">
    <h1 class="mt-4">Clientes</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Consulta</li>
        </ol>
    <div class="col-md-12 mt-5">
        <div class="alert alert-success"
             role="alert" 
             *ngIf="messageSuccess">
                {{messageSuccess}}   
            </div>

        <div class="alert alert-danger"
             role="alert" 
             *ngIf="messageError">
                {{messageError}}
            </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" 
            routerLink="/client/forms">
                <i class="fa fa-plus"></i>
                Novo
            </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table overflow table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center">Nome</th>
                            <th class="text-center">CPF</th>
                            <th class="text-center">Telefone</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr *ngFor="let client of clients">
                            <td class="text-center ">{{ client.name }}</td>
                            <td class="text-center ">{{ formatarCPF(client.cpf.toString()) }}</td>
                            <td class="text-center ">{{ formatarPhone(client.phone.toString())}}</td>
                            <td class="text-center ">{{ client.emailClient}}</td>
                            <td class="text-center ">
                                <div class="col-md-12 ">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <button class="btn btn-primary" (click)="preparesUpdate(client)">
                                                <i class="fa fa-edit text-white"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-5">
                                            <button class="btn btn-danger" (click)="preparesDeletion(client)">
                                                <i class="fa fa-trash text-white"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>    
                            </td>
                        </tr>
                    </tbody>  
                </table>
            </div>
        </div>
        <div id="modalDelet" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="clientSelection">
          <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Confirmação</h4>
                    </div>
                    <div class="modal-body">
                        Realmente deseja o Cliente {{clientSelection.name}}?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" (click)="deleteClient()" data-bs-dismiss="modal">Confirmar</button>
                        <button class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalUpdate" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="clienteUpdate !== undefined">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Atualização de Cliente</h4>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">  
                            <div *ngIf="success  === true" class="alert alert-success" role="alert">
                                Cliente atualizado com Sucesso!
                            </div>
                            
                           <div *ngIf="!success&& errors && errors.length > 0">
                                <div class="alert alert-danger"
                                role="alert" 
                                *ngFor=" let erro of errors">
                                {{erro}}
                                </div>
                           </div>
                        </div>
                            
                        <form #updateForm="ngForm" >
                            <div class="form-group">
                                <label for="id">ID:</label>
                                <input type="text" id="id" class="form-control" disabled [ngModel]="clienteUpdate.id" name="id">
                            </div>
                            <div class="form-group">
                                <label for="updateName">Novo Nome:</label>
                                <input type="text" id="updateName" class="form-control" required [(ngModel)]="clienteUpdate.name" name="updateName">
                            </div>
                                
                                <div class="form-group">
                                    <label for="name">Telefone: *</label>
                                    <input type="text" id="phone" required class="form-control" name="phone" [(ngModel)]="clienteUpdate.phone">      
                                </div>
                            
                                <div class="form-group">
                                    <label for="name">Email do Cliente: *</label>
                                    <input type="email" id="phone" required class="form-control" name="email" [(ngModel)]="clienteUpdate.emailClient">      
                                </div>
                            <div class="form-group">
                                <label for="updateCPF">Novo CPF:</label>
                                <input type="text" id="updateCPF" class="form-control" maxlength="11" required [(ngModel)]="clienteUpdate.cpf" name="updateCPF">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" (click)="updateClient()">Atualizar</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                            </div>                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
   
</div>