<div class="container">
<h1 class="mt-4">Formulário Cliente</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active ">Cadastro</li>
</ol>


    
    <form #clientForm="ngForm" class="mt-5" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success"
                         role="alert" 
                         *ngIf="this.success == true">
                        Cliente salvo com Sucesso!
                    </div>

                    <div class="alert alert-danger"
                         role="alert" 
                         *ngFor=" let erro of errors">
                            {{erro}}
                        </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Nome: *</label>
                    <input type="text" id="name" required class="form-control" name="name" [(ngModel)]="client.name">      
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Telefone: *</label>
                    <input type="text" id="phone" placeholder="somente números" maxlength="11" required class="form-control" name="phone" [(ngModel)]="client.phone">      
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Email do Cliente: *</label>
                    <input type="email" id="phone" required class="form-control" name="email" [(ngModel)]="client.emailClient">      
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="cpf">CPF: *</label>
                    <input type="text"  maxlength="11" id="cpf" placeholder="somente números" required class="form-control" name="cpf" [(ngModel)]="client.cpf">
                </div>
            </div> 

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-success" *ngIf="!client.id" >
                        <i class="fa fa-save"></i>
                        Salvar
                    </button>

             

                    <button type="reset" class="ml-3 btn btn-danger" routerLink="/client">
                        <i class="fa fa-arrow-alt-circle-left"></i>
                        Voltar
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>