<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Sistema</div>
                <a class="nav-link" routerLink="/home">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                   Home
                </a>
                <div class="sb-sidenav-menu-heading">Cadastros</div>
                <a class="nav-link collapsed"routerLink="/client" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                 aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Clientes
                </a>
                <a class="nav-link collapsed"routerLink="/services-provided" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                aria-expanded="false" aria-controls="collapseLayouts">
                   <div class="sb-nav-link-icon"><i class="fa-solid fa-coins"></i></div>
                   Serviços Prestados
               </a>
                <div class="sb-sidenav-menu-heading">Logout</div>
               <a class="nav-link collapsed"  data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
               aria-expanded="false" aria-controls="collapseLayouts" (click)="logout()" href="#" > 
                  <div class="sb-nav-link-icon"><i class="fas fa-sign-out-alt"></i></div>
                  Sair
              </a>
            </div>
        </div>
        <div class="sb-sidenav-footer ">
            <div class=" pb-2 pt-2 small">Cadastre seus Serviços</div>
                <i class="fas fa-user mr-1"></i>
                By Carlos Miguel
            </div>

    </nav>